@{
    ViewData["Title"] = "Home Page";
    var UserAll = ViewBag.UserAll;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var item in UserAll)
    {
        <p> @item.Name - [  @foreach (var role in item.Roles)@role  ]</p>
    }
</div>
